@import "../../../node_modules/stylus-px2rem"
  html-font-size = 375/12px
@import '../../assets/stylus/mixins.styl'
.scroll_container
  margin-top 87px
  height 1100px
  .scroll_wrapper
    margin-bottom 40px
.gotoTop
    position fixed
    width 82px
    height 82px
    right 23px
    bottom 120px
    z-index 5000
    background-image url('http://yanxuan-static.nosdn.127.net/hxm/yanxuan-wap/p/20161201/style/img/icon-normal/goToTop-7a19216f77.png')
    background-size 100% 