@import "../../../../node_modules/stylus-px2rem"
  html-font-size = 375/12px
@import '../../../assets/stylus/mixins.styl'
  .search
    width 100%
    height 56px
    border-radius 8px
    background-color #ededed
    text-align center
    display flex
    align-items center
    justify-content center
    .search_icon
      width 28px
      height 28px
      background-image url('../../../assets/img/search_icon.png')
      background-size 100%
      background-repeat no-repeat
    .search_text
      height 56px
      color #666
      font-size 28px
      line-height 56px